@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
	--glow-color: hsl(0, 100%, 59%);
}

@font-face {
	font-family: 'SpaceTron';
	src: url('./fonts/spacetron-51nwz.otf') format('opentype');
}

* {
	margin: 0;
}

body {
	font-family: "SpaceTron", sans-serif;
	font-size: 1em;
	background-color: black;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

main {
	display: grid;
	flex: 1;
}

header,
footer {
	background-color: black;
	margin: 5px;
}


.header {
	display: flex;
	align-items: center;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	overflow: hidden;
	margin: 10px;
	cursor: pointer;
	-webkit-box-shadow: inset 0px 0px 1.75em 0px var(--glow-color),
		0px 0px 1.75em 0px var(--glow-color);
	-moz-box-shadow: inset 0px 0px 1.75em 0px var(--glow-color),
		0px 0px 1.75em 0px var(--glow-color);
	box-shadow: inset 0px 0px 1.75em 0px var(--glow-color),
		0px 0px 1.75em 0px var(--glow-color);
	border: 0.25em solid var(--glow-color);
	perspective: 2em;
}

.minimized {
	width: 75px;
	height: 75px;
}

.menu-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	align-self: center;
	justify-self: center;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.title {
	flex: 1;
	color: var(--glow-color);
	padding: 0.35em 1em;
	border: 0.15em solid var(--glow-color);
	border-radius: 0.45em;
	background: none;
	perspective: 2em;
	text-align: end;
	letter-spacing: 0.6em;
	font-family: "SpaceTron", sans-serif;
	font-size: 2em;
	font-weight: 900;
	-webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	-moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	-webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
		0 0 0.45em var(--glow-color);
	-moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
		0 0 0.45em var(--glow-color);
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
}

.title2 {
	flex: 1;
	color: var(--glow-color);
	padding: 0.35em 1em;
	border: 0.15em solid var(--glow-color);
	border-radius: 0.45em;
	background: none;
	perspective: 2em;
	text-align: start;
	letter-spacing: 0.6em;
	font-family: "SpaceTron", sans-serif;
	font-size: 2em;
	font-weight: 900;
	-webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	-moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	-webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
		0 0 0.45em var(--glow-color);
	-moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
		0 0 0.45em var(--glow-color);
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
}

.glowing-btn {
	position: relative;
	color: var(--glow-color);
	cursor: pointer;
	padding: 0.5em 2em;
	/* Ajustez le padding selon vos besoins */
	width: 450px;
	/* Définissez une largeur fixe */
	height: 115px;
	/* Définissez une hauteur fixe */
	border: 0.15em solid var(--glow-color);
	border-radius: 0.45em;
	background: none;
	perspective: 2em;
	text-decoration: none;
	font-family: "SpaceTron", sans-serif;
	font-size: 2em;
	/* Ajustez la taille de la police si nécessaire */
	font-weight: 900;
	letter-spacing: 0.2em;
	/* Ajustez l'espacement entre les lettres */
	text-align: center;
	/* Centre le texte à l'intérieur du bouton */
	display: flex;
	/* Utilise Flexbox pour centrer le contenu */
	justify-content: center;
	/* Centre horizontalement */
	align-items: center;
	/* Centre verticalement */
	-webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	-moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
		0px 0px 0.5em 0px var(--glow-color);
	animation: border-flicker 7s linear infinite;
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
}

.glowing-txt {
	float: left;
	margin-right: -0.2em;
	-webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
		0 0 0.45em var(--glow-color);
	-moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
		0 0 0.45em var(--glow-color);
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
	animation: text-flicker 7s linear infinite;
}

.faulty-letter {
	opacity: 0.5;
	animation: faulty-flicker 7s linear infinite;
}

.glowing-btn::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	background-color: var(--glow-color);
	box-shadow: 0 0 2em 0.2em var(--glow-color);
	transition: opacity 100ms linear;
}

.glowing-btn:hover {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	animation: none;
}

.glowing-btn:hover .glowing-txt {
	animation: none;
}

.glowing-btn:hover .faulty-letter {
	animation: none;
	text-shadow: none;
	opacity: 1;
}

.glowing-btn:hover:before {
	filter: blur(1.5em);
	opacity: 1;
}

.glowing-btn:hover:after {
	opacity: 1;
}

@keyframes faulty-flicker {
	0% {
		opacity: 0.4;
	}

	2% {
		opacity: 0.4;
	}

	4% {
		opacity: 0.5;
	}

	19% {
		opacity: 0.5;
	}

	21% {
		opacity: 0.4;
	}

	23% {
		opacity: 1;
	}

	70% {
		opacity: 0.8;
	}

	80% {
		opacity: 0.5;
	}

	83% {
		opacity: 0.4;
	}

	87% {
		opacity: 0.9;
	}

	100% {
		opacity: 0.6;
	}
}

@keyframes text-flicker {
	0% {
		opacity: 0.6;
	}

	8% {
		opacity: 0.8;
	}

	9% {
		opacity: 1;
	}

	12% {
		opacity: 0.4;
	}

	20% {
		opacity: 1;
	}

	25% {
		opacity: 0.4;
	}

	30% {
		opacity: 0.8;
	}

	70% {
		opacity: 0.7;
	}

	72% {
		opacity: 0.6;
	}

	77% {
		opacity: 0.9;
	}

	100% {
		opacity: 0.9;
	}
}

@keyframes border-flicker {
	0% {
		opacity: 0.6;
	}

	10% {
		opacity: 0.9;
	}

	19% {
		opacity: 1;
	}

	31% {
		opacity: 0.7;
	}

	42% {
		opacity: 0.8;
	}

	61% {
		opacity: 0.5;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0.9;
	}
}
